@import "colors";
@import "mixins";


.detail-header{
  padding-bottom: 10px;
  .stats{
    display: inline-flex;
    .index-change{
      &.negative{
        color: $negative;
      }
      &.positive{
        color: $positive;
      }

    }
    .index-short{
      padding-left: 10px;
      padding-right: 5px;
      font-weight: 600;
    }
  }
  .controls{

  }
}