@import "colors";
@import "mixins";

.down-indicator {
  position: relative;
  text-align: center;
  padding: 12px;
  display: block;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 0px;
  height: 15px;
  width: 80%;
  max-width: 100px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 51%;
    background: $negative;
    $skew : skew(0deg, 35deg);
    -webkit-transform: $skew;
    -moz-transform: $skew;
    -ms-transform: $skew;
    -o-transform: $skew;
    transform: $skew;
  }
  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 50%;
    background: $negative;
    $skew : skew(0deg, -35deg);
    -webkit-transform: $skew;
    -moz-transform: $skew;
    -ms-transform: $skew;
    -o-transform: $skew;
    transform: $skew;
  }
}

.up-indicator {
  position: relative;
  text-align: center;
  padding: 12px;
  display: block;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 6px;
  height: 10px;
  width: 80%;
  max-width: 100px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 51%;
    background: $positive;
    $skew : skew(0deg, -35deg);
    -webkit-transform: $skew;
    -moz-transform: $skew;
    -ms-transform: $skew;
    -o-transform: $skew;
    transform: $skew;
  }
  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 50%;
    background: $positive;
    $skew : skew(0deg, 35deg);
    -webkit-transform: $skew;
    -moz-transform: $skew;
    -ms-transform: $skew;
    -o-transform: $skew;
    transform: $skew;
  }
}

