@import "colors";
@import "mixins";

$card-height:200px;
.ticker-card{
  height: $card-height;
  background: $card-background;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  display: block;
  @include noselect;
  .ticker{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -10px;
    display: block;
  }
  .company-name{
    font-size: 14px;
    padding-bottom: 5px;
  }
  .details{
    font-size: 14px;
    .detail-key{
      font-weight: 600;
      float: left;
    }
    .detail-value{
      float: right;
    }
  }
  .price-display {
    width: 100%;
    height: $card-height - 20;
    padding: 20px 0px 20px 0px;
    font-weight: 600;
    .price {
      font-size: 16px;
      display: block;
      text-align: center;
    }
    .change {
      display: block;
      text-align: center;
    }
  }
}